aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
googleapis-common-protos==1.51.0
grpcio==1.27.2
grpcio-tools==1.27.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
multidict==4.7.5
protobuf==3.11.3
requests==2.23.0
six==1.14.0
snakeviz==2.0.1
tornado==6.0.3
urllib3==1.25.8
Werkzeug==1.0.0
yarl==1.4.2
